#Tempo em segundos que o GRUB aguarda antes de iniciar automaticamente a entrada padrao (0 = carrega automaticamente)
set timeout=0

#Define a entrada padrao (0 = primeira entrada)
set default=0

#Define uma entrada de menu para o MeuSO
menuentry "MeuSO" {
    #Carrega o kernel do MeuSO usando o multiboot
    multiboot /boot/kernel.elf

    #Possibilita o carregamento de modulos a partir da imagem ISO
    module /modules/program1.bin
    module /modules/program2.bin
    module /modules/program3.bin
    module /modules/program4.bin 
}